{% extends 'base.html' %}
{%block title%} about {%endblock title%}

{% block css%}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  margin-left:180px;
}


.container::after {
  content: "";
  clear: both;
  display: table;
}




.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

{%endblock css%}

{%block body%}
<center>
<h2>Chat Messages</h2>
</center>
{% for i in product%}
<div class="container">
  <b> {{i.name}} </b>
  <p> {{i.content}} </p>
  <span class="time-right">{{i.timeStamp}}</span>
</div>

 {% endfor %}


 {%endblock body%}