{% extends 'base.html' %}
{%block title%} home {% endblock title %}


{%block css%}

#text {
	display: inline-block;
	color: Black;
	border-right: 3px solid black;

}

.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  
   overflow-y: scroll;
}
{%endblock css%}



{%block body%} 


<div class="jumbotron">
<center>
  <h1 class="display-4">ADBHUT CHAT</h1><br>
 <div id="conta">
  <h2>	<div id="text"></div></h2>
</div>


  </center>
  <hr class="my-4">
  <center>
  <p>It is very simple way to send messsage for your friends. </p></center>
  
</div>

<center>
<div class="container my-3">

<h3>
Chatting
</h3>
</center>
<br>
<hr>
<br>



         <!--     {% for j in frdd %}
             
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg">
                  </div>
                  <div class="col-md-7 col-sm-7">
                    <h5><a href="#" class="profile-link">{{j.friend}}</a></h5>
                    
                    
                  </div>
              

              {% endfor %} -->
         
           
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<div class="container">
<h3 class=" text-center">Messaging</h3>
<div class="messaging">
  <div class="inbox_msg">
    <div class="inbox_people">
      <div class="headind_srch">
        <div class="recent_heading">
          <h4>Recent</h4>
        </div>
        <div class="srch_bar">
          <div class="stylish-input-group">
            <input type="text" class="search-bar"  placeholder="Search" >
            <span class="input-group-addon">
            <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
            </span> </div>
        </div>
      </div>
    <div class="inbox_chat">
      {% for j in frdd %} <a href="#">   <!---->
        <div class="chat_list" id="{{j.friend}}" onclick= myfunction('{{j.friend}}') >
          <div class="chat_people">
            <div class="chat_img"> <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="sunil"> </div>
            <div class="chat_ib">
              <h5>{{j.friend}}<span class="chat_date">Dec 25</span></h5>
              <p>Hello I am your friend now</p>
            </div>
          </div>
        </div>  </a>
      {% endfor %} 
        <div class="chat_list">
          <div class="chat_people">
            <div class="chat_img"> <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="sunil"> </div>
            <div class="chat_ib">
              <h5>Adbhut<span class="chat_date">Dec 25</span></h5>
              <p>Welcome My Friend in Adbhut Chat</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  
    <div class="mesgs" id="divload">
      <div class="msg_history" id="qwe" >                                
        <div class="incoming_msg">
          <div class="incoming_msg_img">  </div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p> </p>
              <span class="time_date"></span></div>
          </div>
        </div>

        <div class="outgoing_msg">
          <div class="sent_msg">
            <p>  </p>
            <span class="time_date"> </span> </div>
        </div>
<!--
        <div class="incoming_msg">
          <div class="incoming_msg_img"> <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="sunil"> </div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p> </p>
              <span class="time_date" id='qq'></span></div>
          </div>
        </div>  -->

      </div>
      <div class="type_msg">
        <div class="input_msg_write">
         <form id="postform">                                           <!--    action="/send" method="post" -->
         {% csrf_token %}
        
          <input type="text" name="send" id="vans" class="write_msg" placeholder="Type a message" />
          <button class="msg_send_btn" type="submit" id="gupta" ><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


              
              <br>
              <br>
              <br>
              <br>
<!--
<center>
<h3>Chatting</h3> </center>
<form action="/home" method="post">
{% csrf_token %}
  <div class="form-group">
  <br>
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name"aria-describedby="name" Required>
  </div>

  <div class="form-group">
    <label for="content">Write your message :</label>
    <textarea class="form-control" name="content" id="content" cols="25" rows="5" Required></textarea>
  </div>

  <button type="submit" class="btn btn-primary" >Submit</button>
</form>
</div>

</center>  -->

<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      

      <script type="text/javascript">

        $(document).on('submit','#postform',function(e){
      
            e.preventDefault();
            $.ajax({
              type :'POST',
              url:'/send',
              data:{
                naa : $('#vans').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
      
              },
              success: function (){
                 document.getElementById("postform").reset(); 
              }
            });


        });
        
</script>

<script type="text/javascript">

// List of sentences
var _CONTENT = [ "Welcome to Adbhut Chat Friends", "You are looking for an chatting website", "So what are you waiting for", "Let's start to send message to your friends.." ];

// Current sentence being processed
var _PART = 0;

// Character number of the current sentence being processed 
var _PART_INDEX = 0;

// Holds the handle returned from setInterval
var _INTERVAL_VAL;

// Element that holds the text
var _ELEMENT = document.querySelector("#text");

// Implements typing effect
function Type() { 
	var text =  _CONTENT[_PART].substring(0, _PART_INDEX + 1);
	_ELEMENT.innerHTML = text;
	_PART_INDEX++;

	// If full sentence has been displayed then start to delete the sentence after some time
	if(text === _CONTENT[_PART]) {
		clearInterval(_INTERVAL_VAL);
		setTimeout(function() {
			_INTERVAL_VAL = setInterval(Delete, 20);
		}, 900);
	}
}

// Implements deleting effect
function Delete() {
	var text =  _CONTENT[_PART].substring(0, _PART_INDEX - 1);
	_ELEMENT.innerHTML = text;
	_PART_INDEX--;

	// If sentence has been deleted then start to display the next sentence
	if(text === '') {
		clearInterval(_INTERVAL_VAL);

		// If last sentence then display the first one, else move to the next
		if(_PART == (_CONTENT.length - 1))
			_PART = 0;
		else
			_PART++;
		_PART_INDEX = 0;

		// Start to display the next sentence after some time
		setTimeout(function() {
			_INTERVAL_VAL = setInterval(Type, 50);
		}, 200);
	}
}

// Start the typing effect on load
_INTERVAL_VAL = setInterval(Type, 30);

</script>


{% load static %}
<hr>
<div class="container">
  <centre> <b><h2>Your Gallery</h2> </b></centre>
  <hr>
<div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "image/1st.jpg" %}" target="_blank">
          <img src="{% static "image/1st.jpg" %}" alt="Lights" style="width:100%">
          <div class="caption">
            <p>This is my.</p>
          </div>
        </a>
      </div>
    </div>

	<div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static 'image/2nd.png' %}" target="_blank">
          <img src="{% static 'image/2nd.png' %}" alt="Nature" style="width:100%">
          <div class="caption">
            <p>how is going.</p>
          </div>
        </a>
      </div>
    </div>

    	<div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static 'image/erty.jpg' %}" target="_blank">
          <img src="{% static 'image/erty.jpg' %}" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Enjoy</p>
          </div>
        </a>
      </div>
    </div>

</div>
  
</div>

<br>
<br>
<br>


<footer class="container-fluid bg-dark my-0 py-3 text-light">
    <p class="mb-0 text-center">© 2020-2021 Adbhut Chat</p>
    <p class="mb-0 text-center">
      <a href="#">Back to top |</a>
      <a href="#">Privacy |</a>
      <a href="#">Terms</a>
    </p>

</footer>
    

{%endblock body%}